.plantName {
    color: black;
    border-style: solid;
    border-top: black;
    border-left: black;
    border-right: black;
}
.imageHere {
    max-width: 600px;
    max-height: 520px;
    margin-bottom: 2%;
    overflow: hidden;
}

#image {
    max-width: 100%;
    height: auto;
}

.save,
.create {
    background-color: #8a4794;
}
.save:hover,
.create:hover {
    background-color: #443147;
}

.saveInfo {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
}
.fa-cloud,
.fa-tint,
.fa-temperature-high,
.leaficon,
.fa-seedling,
.fa-sun,
.fa-plus {
    font-size: 2rem;
    padding-right: 2%;
}
.fa-sun {
    color: rgb(223, 226, 40);
}
.fa-cloud {
    color: rgb(59, 59, 65);
}
.fa-tint {
    color: rgb(0, 119, 255);
}
.leaficon,
.fa-seedling {
    color: #6d8659;
}
.fa-plus {
    color: #8a4794;
}
.return-link {
    color: #6d8659;
    cursor: pointer;
}
.return-link:hover {
    color: #3d4831;
}
.infoCreate {
    width: 100%;
    text-align: center;
}
