.plantName {
    color: black;
    border-style: solid;
    border-top: black;
    border-left: black;
    border-right: black;
}
.imageHere {
    max-width: 600px;
    max-height: 520px;
    margin-bottom: 2%;
    overflow: hidden;
}

#image {
    max-width: 100%;
    height: auto;
}
/* 
.imgSave {
    margin-top: 25px;
    width: 100%;
    text-align: center;
} */

.save {
    background-color: #8a4794;
}
.save:hover {
    background-color: #443147;
}

.saveInfo {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
}

/* .rowWater {
    margin-top: 110px;
} */

.fa-cloud {
    font-size: 35px;
    color: rgb(59, 59, 65);
    /* float: right; */
}
.watericon {
    font-size: 35px;
    padding-right: 5px;
    color: rgb(0, 119, 255);
    /* float: right; */
}
.tempicon {
    font-size: 35px;
    /* float: right; */
}

.return-link {
    color: #6d8659;
    cursor: pointer;
}
.return-link:hover {
    color: #3d4831;
}
.infoCreate {
    width: 100%;
    text-align: center;
}

.create {
    background-color: #8a4794;
    /* width: 226.98px; */
}
