.nav-wrapper {
    background-color: #443147;
}
.title {
    padding-left: 3%;
}
.search-bar {
    background-color: #8a4794;
    width: 30%;
}
#close-icon {
    font-size: 20px;
}
.btn {
    background-color: #fbfaf8;
    color: black;
}
.btn:hover {
    background-color: #8a4794;
}
