.nav-wrapper {
    background-color: #443147;
}
.brand-logo {
    padding-left: 3%;
    margin-right: 3%;
}
.search-bar {
    background-color: #8a4794;
    width: 30%;
}
#close-icon {
    font-size: 20px;
}
.btn {
    background-color: #fbfaf8;
    color: black;
}
.btn:hover {
    background-color: #8a4794;
}
#hidden {
    display: none;
}
@media screen and (max-width: 992px) {
    #hidden {
        display: inline;
    }
    .brand-logo {
        display: none;
    }
    .search-bar {
        width: 65%;
    }
}
